{% extends './base.html.twig' %}

{% block title %}s'inscrire{% endblock %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}
{% block body %}



    
    <div class="container my-5">
    <h1>Inscription</h1>
    {{ form_start(registrationForm) }}
    <div class="mb-3">
        {{ form_row(registrationForm.firstName , {
            attr : {
                type : 'mail',
                class : 'form-control',
                label :  'Prénom'
            }
        }) }}
       
    </div>

    <div class="mb-3">
        {{ form_row(registrationForm.lastName , {
            attr : {
                class : 'form-control'
            }
        }) }}
       
    </div>

    <div class="mb-3">
        {{ form_row(registrationForm.tel , {
            attr : {
                class : 'form-control'
            }
        }) }}
    
    </div>

    <div class="mb-3">
            {{ form_row(registrationForm.email , {
                attr : {
                    class : 'form-control'
                }
            }) }}
            
        </div>
        
    <div class="mb-3">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
    </div>

    <div class="mb-3 ">
        {{ form_row(registrationForm.agreeTerms, {
            label: "Conditions d'inscription"
        }) }}
   
    </div>  
    {% if is_granted('ROLE_GUIDE') %}
    <div class="mb-3 ">
        {{ form_row(registrationForm.agreeTerms, {
            label: "Conditions d'inscription"
        }) }}
   
    </div>
    {% endif %}
        
        <button type="submit" class="btn btn-primary">S'inscrire</button>
        
        
    {{ form_end(registrationForm) }}
    <br>
    <a href="{{ path( 'register_guide')}}" > Inscrivez-vous en tant que guide </a>
    </div>
{% endblock %}
