
{% extends 'header.html.twig' %}

{% block title %}Hello TripController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



{% set maxValue = 0 %}
{% set minValue = 99999999999 %}

{{ dump(trips) }}
{% for trip in trips1 %} 
    {% set maxValue = max(trip.price, maxValue) %}
    {% set minValue = min(trip.price, minValue) %}
{% endfor %} 

{% set maxDateValue = 0 %}
{% set minDateValue = 40 %}

{% for trip in trips1 %} 
    
    {% set DateValue = date(trip.returnDate).diff(date(trip.departureDate)) %}
    {% set diffDays = DateValue.days %}
    {% set maxDateValue = max(diffDays, maxDateValue) %}
    {% set minDateValue = min(diffDays, minDateValue) %}


   
{% endfor %} 

    <div class="row">
        <div class="col-3">
            <div class="sidenav">
                <div  class="container">
                
                    <form METHOD="POST" action ="{{path('all_trip')}}" >
                        <button class='btn btn-secondary btn-block mb-3' name ="btnfiltrer" id="btnfiltrer" type ="submit" style="width : 100%" >Filtrer</button>
                        <h5>Le prix </h5>
                            <input id="myRange" 
                                min="{{minValue}}" 
                                max="{{maxValue}}" 
                                value="{{maxValue}}"
                                step="1" 
                                type="range"
                                name="price" 
                                class="form-range" />
                        <h6 style="text-align : center">
                            
                            <span  id="curr"></span>
                        </h6>


                    


                   
                    

        
                    

                    <div class="container input-group  d-flex mt-3">
                        <input class="form-control" style="width : 70%"  type="search" placeholder="Rechercher" name="searchBar">
                        <button class="btn btn-outline-secondary" id="btnfiltrer" name ="btnfiltrer" type="submit"><i style="color : black" id="search" class="fa-solid fa-magnifying-glass"></i></button>
                        
                    </div>
                    

                    <div class="container mt-5">
                    <h5 for="startDate">Date de départ</h5>
                    <input id="startDate" class="form-control" name="dateDate" type="date"  min="{{ "now"|date("Y-m-d") }}" max ="{{ 'now'|date_modify('+1 year')|date('Y-m-d') }}" />
                    
                    </div>

                
                    <div class="container mt-5">
                    <h5>Liste des guides</h5>
                    <div class="list-group-flush">
                    {% for guide in guides %}
                    
                    
                    <div class="form-check">
                        <ul class="list-group">
                            <label class="list-group-item">
                            <input style="display: inline-block; vertical-align: middle; cursor: pointer;" class="form-check-input me-1" type="checkbox" name="guide[]" value="{{guide.id}}" id="flexCheckChecked" checked>
                                {% for pictureGuide in guide.pictureGuides %}
                                        <img src="{{ asset('/uploads/'~pictureGuide.name) }}" class="imgGuide">
                                {% endfor %}
                                <label class="form-check-label" for="flexCheckChecked">{{guide.user.firstName}} {{ guide.user.lastName}}</label>
                            </label>
                        </ul>
                        
                    </div>
                        
                        
                    {% endfor %}
                    </div>
                    </div>

                    <div id ="sidenava" class="container mt-3">
                    <h5>Durée </h5>
                        <input id="myRangeDate" 
                            max='{{maxDateValue}}' 
                            min='{{minDateValue}}' 
                            value='{{maxDateValue}}' 
                            name="duration"
                            type="range" 
                            class="form-range" />
                        <h6 style="text-align : center"><span id="currDate"></span></h6>


                    </div>
                    </form>
                </div>
            </div>
        </div>
    

        <div class="col-9">
            <div class="main">
                <div  class="container">
                    <div  class=" justify-content-center">
                        {% if trips | length == 0 %}
                                <h4>Aucun résulat pour votre recherche.</h4>
                        {% else %}
                        {% for trip in trips %}
                            <div class="card mb-5" style="width: 900px; height : 250px; justify-content: center!important; margin: 0 auto;">
                                <div class="row">
                                    <div class="col-md-5">
                                        {% for picture in trip.pictures | slice(0, 1) %}
                                        <img src="{{ asset('/uploads/'~picture.name) }}" class="card-img " alt="...">
                                        {% endfor %}
                                    </div>

                                    <div class="col-md-7">
                                        <div class="card-body">

                                            <div class=" d-flex w-100 justify-content-between"> 
                                                <small id="small" class="text-muted">{{trip.arrivedPlace}}</small> 
                                                <small id="small" class="text-muted">{{trip.price}}€</small>
                                            </div>

                                            <h5 class="card-title mt-2">{{ trip.name }}</h5>
                                            <div id ="desc" class="card-text">{{ trip.summary|raw  }} </div>
                                            <p class="card-text"><small class="text-muted">Date de départ  {{ trip.departureDate |date('d-m-Y') }}</small>
                                            <br>

                                            <small class="text-muted mt-0">Date de retour  {{ trip.returnDate |date('d-m-Y') }}</small></p>

                                            <div class="position-absolute bottom-1 ">
                                                {% for pictureGuide in trip.guide.pictureGuides %}
                                                    
                                                    <img  src="{{ asset('/uploads/'~pictureGuide.name) }}" class="imgGuide" >
                                                {% endfor %}
                                                
                                                <small id="small" class="text-muted">{{trip.guide.user.firstName}}</small> 
                                            </div>
                                            
                                            <div class="position-absolute bottom-1 end-0" style="margin-right : 15px;">
                                                <a href="{{ path('show_trip', {'id': trip.id}) }}"><small>En savoir plus</small></a>
                                                {% if is_granted('ROLE_ADMIN') and trip.archived == FALSE -%}
                                                <a href="{{ path('delete_trip', {'id': trip.id}) }}"><i class="fa-regular fa-trash-can"></i></a>
                                                <a href="{{ path('edit_trip', {'id': trip.id}) }}"><i class="fa-regular fa-pen-to-square"></i></a>
                                                    
                                                {% elseif is_granted('ROLE_USER') -%}
                                                
                                                <i  onclick="fav(this)" class="fa-regular fa-heart"></i>

                                                {% endif %}
                                            </div>

                                        </div>   
                                    </div>
                                    
                                </div>
                            </div>
                        {% endfor %}
                        {% endif %}
                    
                </div>
            </div> 
        </div>
    </div>


 <style>
 .fa-solid{
        
        color : red;
}
.form-check-input:checked {
    background-color: grey;
    border-color: grey;
}

.form-check {
    
    padding-left: 0px ;
}
.card.mb-5 {
    justify-content: center!important;
    margin: 0 auto;
}

 </style>
<script>
var elDate = document.getElementById('currDate');
var rDate = document.getElementById('myRangeDate');

console.log(rDate);
elDate.innerText =rDate.valueAsNumber + ' jour(s)';
rDate.addEventListener('change',()=>{
    elDate.innerText = rDate.valueAsNumber + ' jour(s)'
})
    
var el = document.getElementById('curr');
var r = document.getElementById('myRange');
el.innerText = r.valueAsNumber + '€';
r.addEventListener('change', () => {
     el.innerText = r.valueAsNumber + '€';
})


</script>

{% endblock %}
