{% extends 'header.html.twig' %}

{% block title %}Hello DashbordController!{% endblock %}
 

 {% block body %}
   
<div class="container">
    <h2 style = "text-align : center">DASHBORD DE L'ANNEE EN COURS</h2>
    
 </div>
    
    
        <div class="row">
            <div class="col-2 my-5">
                <div class="container"  style ="display : inline-grid ">
                    <button id="btnfiltrer" class="btn btn-primary my-3" > <a style= "text-decoration: none; color : white" href="{{ path('choose_trip')}}">Participer à d'autres voyages</a> </button>
                    <button id="btnfiltrer" class="btn btn-primary my-3" > <a style= "text-decoration: none; color : white" href="{{ path('tripGuide')}}">Voyages</a> </button>
                    <button id="btnfiltrer" type="button" class="btn btn-primary my-3" ><a style= "text-decoration: none; color : white" href="{{path('edit_user')}}">Mon profil</a> </button>
                
                    
                </div>
            </div>

            <div class="col-5">
                
            <canvas class="my-4 mt-5" id="reservation" style="width : 400px" ></canvas>
            
            
            </div>

            <div class="col-5">
                
            <canvas class="my-4 mt-5" id="salaire" style="width : 400px" ></canvas>
            
            </div>
        </div>
    
            
   
  {{ dump(trip) }}


   <script>
   /* globals Chart:false */

(() => {
  'use strict'

    
  // Graphs

  const ctx = document.getElementById('reservation')
  const xValues = [ "Voyages"];
  const yValues = [{{trips}}];
  // eslint-disable-next-line no-unused-vars
  const myChart = new Chart(ctx, {
    type: 'bar',
    
    data: {
      labels: xValues,
      
      datasets: [{
        label: "DASHBORD DE MES PARTICIPATIONS AUX VOYAGES",
        data: yValues,
        lineTension: 0,
        backgroundColor: [
        '#76966a38',
        
        ],
        borderColor: [
        '#76966a',
        ],

        
        borderWidth: 1,
        pointBackgroundColor: '#007bff'
      }]
    },

    
    options: {
      plugins: {
        legend: {
          display: true,
          
        },
        tooltip: {
          boxPadding: 3
        }
      },
      scales: {
            y: {
                title: {
                    display : true,
                    text : 'Nombre ',

                    }
                },

            x: {
                title: {
                    display : false,
                    text : 'test',

                    },
            }
            }
        }
    
  })
})()

   </script>

      <script>
   /* globals Chart:false */

(() => {
  'use strict'


  // Graphs

  
  const ctx = document.getElementById('salaire');
  const xValues = {{nameTrip|raw}};
  const yValues = {{salaryGuide|raw}};
console.log(xValues)
  // eslint-disable-next-line no-unused-vars
  const myChart = new Chart(ctx, {
    type: 'bar',
    
    data: {
      labels: xValues,
      
      datasets: [{
        label: "DASHBORD DE MES PARTICIPATIONS AUX VOYAGES",
        data: yValues,
        lineTension: 0,
        backgroundColor: [
        '#76966a38',
        
        ],
        borderColor: [
        '#76966a',
        ],

        
        borderWidth: 1,
        pointBackgroundColor: '#007bff'
      }]
    },

    
    options: {
      plugins: {
        legend: {
          display: true,
          
        },
        tooltip: {
          boxPadding: 3
        }
      },
      scales: {
            y: {
                title: {
                    display : true,
                    text : 'Nombre € ',

                    },

                    ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, ticks) {
                        return  value  + ' €';
                    }
                }
                },

            x: {
                title: {
                    display : false,
                    text : 'test',

                    },
            }
            }
        }
    
  })
})()

   </script>


{% endblock %}
