{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container">


<h1 class = "my-5" style="text-align : center">Toutes mes réservations</h1>

    
{% if bookings | length == 0 %}
<div class="container"  style ="text-align : center">
  <small>
  Vous avez pas encore de réservations 
  </small>
</div>
  {% else %}

  {% for booking in bookings %}

                            <div class="card mb-5" style="width: 900px; height : 250px; justify-content: center!important; margin: 0 auto;">
                                <div class="row">
                                    <div class="col-md-5">
                                        {% for picture in booking.trip.pictures | slice(0, 1) %}
                                        <img src="{{ asset('/uploads/'~picture.name) }}" class="card-img " alt="...">
                                        {% endfor %}
                                    </div>

                                    <div class="col-md-7">
                                        <div class="card-body">

                                            <div class=" d-flex w-100 justify-content-between"> 
                                                <small id="small" class="text-muted">{{booking.trip.arrivedPlace}}</small> 
                                                <small id="small" class="text-muted">{{booking.price}}€</small>
      
                                            </div>

                                            <h5 class="card-title mt-2">{{ booking.trip.name }}</h5>
                                            <div id ="desc" class="card-text">{{ booking.trip.summary|raw  }} </div>
                                            <p class="card-text"><small class="text-muted">Date de départ  {{ booking.trip.departureDate |date('d-m-Y') }}</small>
                                            <br>

                                            <small class="text-muted mt-0">Date de retour  {{ booking.trip.returnDate |date('d-m-Y') }}</small><br>
                                            </p>

                                            <div class="position-absolute bottom-1 ">
                                                {% for pictureGuide in booking.trip.guide.pictureGuides %}
                                                    
                                                    <img  src="{{ asset('/uploads/'~pictureGuide.name) }}" class="imgGuide" >
                                                {% endfor %}
                                                
                                                <small id="small" class="text-muted">{{booking.trip.guide.user.firstName}}</small> 
                                                
                                            </div>
                                            <div class="position-absolute bottom-1 end-0" style="margin-right : 15px;">
                                                <small class="text-muted "> {{ booking.reservationDate |date('d-m-Y') }}</small>
                                            </div>
                                            

                                        </div>   
                                    </div>
                                    
                                </div>
                            </div>
             
  
    
    {% endfor %}

{% endif %}



</div>
{% endblock %}
